<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brumhack.guessthestats" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GameModeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mode1Screen"
            android:label="@string/app_name"
            android:parentActivityName=".GameModeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brumhack.guesstheprice.GameModeScreen" />
        </activity>
        <activity
            android:name=".Mode2Screen"
            android:label="@string/app_name"
            android:parentActivityName=".GameModeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brumhack.guesstheprice.GameModeScreen" />
        </activity>
        <activity
            android:name=".Mode3Screen"
            android:label="@string/app_name"
            android:parentActivityName=".GameModeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brumhack.guesstheprice.GameModeScreen" />
        </activity>
        <activity
            android:name=".SettingsScreen"
            android:label="@string/title_activity_settings_screen" >
        </activity>
        <activity
            android:name=".ResultsScreen"
            android:label="@string/title_activity_results_screen" >
        </activity>
    </application>

</manifest>
